{% load static %}
{% include "header.html" %}

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}    
    <textarea name="question_text" maxlength="1000\"
	    autocomplete="on" autocorrect="on" autofocus onBlur="updatePosition(event)" required>{{question.text}}</textarea>
    <br>
    {% for f in files %}
        <p>{{f.name}}</p>
        <input id="position_file" type="number" onClick="setPositionTextarea(previousPosition,event)"
			 name="{{f.name}}[]" value="{{f.position}}" required/>
		<input type="number" name="{{f.name}}[]" value="{{f.height}}" required/>
		<input type="number" name="{{f.name}}[]" value="{{f.width}}" required/>
        <br>
		<label><input type="radio" value="L" name="{{f.name}}[]" checked/>Esquerda</label>
		<label><input type="radio" value="C" name="{{f.name}}[]"/>Centro</label>
		<label><input type="radio" value="R" name="{{f.name}}[]"/>Direita</label>
        <br>
        <label>Remover: <input type="checkbox" name="{{f.name}}[]"></label>
        <br>
    {% endfor %}
    <input type="submit" value="Salvar" />
</form>

<script type="text/javascript" src="{% static 'utils.js' %}"></script>
<script type="text/javascript">

previousPosition = document.getElementById("position_file")

function updatePosition(e) {
    previousPosition = e.target.selectionStart
}

</script>

{% include "footer.html" %}