{% load static %}
{% include "header.html" %}

<main>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div id="text"></div>
    {% for f in files %}
        <p>{{f.name}}</p>
        <input id="position_file" type="number" onClick="setPositionTextarea(text_area.getLastPos(),event)"
			 name="{{f.name}}[]" value="{{f.position}}" required/>
		<input type="number" name="{{f.name}}[]" value="{{f.height}}" required/>
		<input type="number" name="{{f.name}}[]" value="{{f.width}}" required/>
	        <br>
		<label><input type="radio" value="L" name="{{f.name}}[]" checked/>Esquerda</label>
		<label><input type="radio" value="C" name="{{f.name}}[]"/>Centro</label>
		<label><input type="radio" value="R" name="{{f.name}}[]"/>Direita</label>
        <br>
        <label>Remover: <input type="checkbox" name="{{f.name}}[]"></label>
        <br>
    {% endfor %}
    <button id="swap" type="button" onClick="button.swap(event);">Adicionar Novas Imagens</button>
    <input type="submit" value="Salvar" />
</form>

</main>

<script type="text/javascript" src="{% static 'utils.js' %}"></script>
<script type="text/javascript">

text_area = new TextAreaForm("question_text", "text_area", "{{question.text}}")
document.getElementById("text").outerHTML = text_area.getElements()
files_obj = new FileInputs("files_obj","text_area")
button = new Button("button", document.getElementById("swap"), "files", "files_obj", null)

</script>

{% include "footer.html" %}
