{% load static %}
<!doctype html>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Estrela Guia{% if page_name %} - {{page_name}} {% endif %}</title>
	<link rel="stylesheet" href="{% static 'index.css' %}" />
</head>
<body>
	<header>
		<p><img src="{% static 'logo.png' %}" alt="Estrela Guia"></p>
		<nav>
			<ul id='main_menu'>
				<li><a href='{{req.get_host}}/articles/'>Artigos</a></li>
				<li><a href='{{req.get_host}}/questions/'>Perguntas</a></li>
				{% if user.is_authenticated %}
					<li><a href='{{req.get_host}}/profile/'>Meu Perfil</a></li>
					<li><a href='{{req.get_host}}/leave/'>Sair</a></li>
				{% else %}
					<li><a href='{{req.get_host}}/enter/'>Login</a></li>
				{% endif %}
			</ul>
			<ul id='crumbs'>
				{% for p in previous_pages %}
					<li><a href="{{ p }}">{{ p }}</a></li>
				{% endfor %}
			</ul>
		</nav>
	</header>
