{% include "header.html" %}
{% load tz %}

<main>
	{% if question_list %}
    		{% timezone "America/Sao_Paulo" %}
		<table id="question_table">
			<tr>
			    <th>Questão</th>
			    <th>Data</th>
			    <th>Texto</th>
			    <th>Editar</th>
			    <th>Deletar</th>
			</tr>	
			{% for q in question_list %}
			<tr>
				<td><a href="/questions/{{q.id}}">{{q.id}}</a></td>
				<td>{{q.date|date:"d/m/Y G:i:s"}}</td>
				<td>{{q.text|striptags}}</td>
				<td><a href="{{request.path}}{{q.id}}/edit/">Editar</a></td>
				<td><a href="{{request.path}}{{q.id}}/delete/">Deletar</a></td>
			</tr>
			{% endfor %}
		</table>
		{% endtimezone %}
	{% endif %}
</main>

{% include "footer.html" %}
