{% load static %}
{% include "header.html" %}
{% load tz %}

<main>

	<p id="likes">{{likes}} avaliaram positivamente a questão.</p>
	
	{% if user.is_authenticated %}
		{% if favorite %}
			<button type="button" onClick="remove_favorite(event, '/questions/favorites/{{question_id}}', token)">Remover dos favoritos</button>
		{% else %}
			<button type="button" onClick="favorite(event, '/questions/favorites/{{question_id}}', token)">Favoritar</button>
		{% endif %}
		{% if upvote %}
			<button type="button" onClick="remove_up(event, '/questions/upvote/{{question_id}}', token)">Remover avaliação</button>
		{% else %}
			<button type="button" onClick="upvote(event, '/questions/upvote/{{question_id}}', token)">Avaliar positivamente</button>
		{% endif %}
	{% endif %}
	
	{% autoescape off %}
		{{text}}
	{% endautoescape %}
	
	{% if user.is_authenticated %}
	<form id="answerForm" action="{{question_id}}/answer/" method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		<input type="hidden" name="prev" value="{{request.path}}" />
		<button id="swap" type="button" onClick="button.swap(event);">Responder</button>
	</form>
	{% endif %}
	
	{% if resp_list %}
	<ol>
		{% timezone "America/Sao_Paulo" %}
			{% for resp in resp_list %}
			<li>{{resp.user}} {{resp.date|date:"d/m/Y G:i:s"}}
				{% autoescape off %}
					{{resp.text}}
				{% endautoescape %}
			</li>
			{% endfor %}
		{% endtimezone %}
	</ol>
	{% endif %}

</main>

<script type="text/javascript" src="{% static 'utils.js' %}"></script>
<script type="text/javascript" src="{% static 'simple-requests.js' %}"></script>

<script type="text/javascript">
text_area = new TextAreaForm("answer_text", "text_area")
files_obj = new FileInputs("files_obj", "text_area")
submit = new SubmitButton("Responder")
button = new Button("button", document.getElementById("swap"), "answer_form", "files_obj", [text_area, submit])

const likes = document.getElementById('likes')
let answerForm = document.getElementById('answerForm')
var token
if (answerForm != null)
	token = answerForm[0].value

upButton = new RequestButton("Avaliar positivamente", "upvote(event, '/questions/upvote/{{question_id}}', token)")
downButton = new RequestButton("Remover avaliação", "remove_up(event, '/questions/upvote/{{question_id}}', token)")

favButton = new RequestButton("Favoritar", "favorite(event, '/questions/favorites/{{question_id}}', token)")
removeFavButton = new RequestButton("Remover dos favoritos", "remove_favorite(event, '/questions/favorites/{{question_id}}', token)")

</script>

{% include "footer.html" %}
