{% load static %}
{% include "header.html" %}
{% load tz %}

<form method="GET">
	<input type="search" name="pattern">
	{% if user.is_authenticated %}
	<label>Minhas Perguntas: <input type="checkbox" name="my"></label>
	{% endif %}
	<input type="submit" value="Pesquisar" />
</form>

{% if user.is_authenticated %}
<form method="POST" enctype="multipart/form-data">
	{% csrf_token %}
	<button id="swap" type="button" onClick="button.swap(event);">Perguntar</button>
</form>

<nav>
	<a href="{{request.path}}my-questions">Gerenciar Perguntas</a>
	<a href="{{request.path}}favorites">Favoritas</a>
</nav>

{% endif %}

<main>
	<ul>
		{% if question_list %}
		{% timezone "America/Sao_Paulo" %}
			{% for q in question_list %}
			<li><a href="{{q.id}}">{{q.id}}</a> {{q.user}} {{q.date|date:"d/m/Y G:i:s"}} {{q.text|striptags|truncatechars:100}}</li>
			{% endfor %}
		{% endtimezone %}
		{% endif %}
	</ul>
</main>

<script type="text/javascript" src="{% static 'utils.js' %}"></script>
<script type="text/javascript">
text_area = new TextAreaForm("question_text", "text_area")
files_obj = new FileInputs("files_obj","text_area")
submit = new SubmitButton("Perguntar")
button = new Button("button", document.getElementById("swap"), "question_form", "files_obj", [text_area, submit])
</script>

{% include "footer.html" %}
